@page
@model MALanguageHub.Pages.Admin.LoginModel
@{
    Layout = null;

    ViewData["Title"] = "MALanguageHub | Login";
    }

<title>@ViewData["Title"]</title>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Admin_files/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Admin_files/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Admin_files/css/ToastStyleSheet.css" rel="stylesheet">
    <style>

        
.bg-login-image {
  background: url("https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg?t=st=1732293377~exp=1732296977~hmac=2ed8ecf7c0eadb2722f7640cec26b0f4987ae534d302eab1ba6fa693414ba97f&w=740");
  background-position: center;
  background-size: cover;
}

    </style>
</head>

<body class="bg-gradient-primary">

    <div class="container p-5">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" method="post">
                                        <div class="form-group">
                                            <input asp-for="Login.Username"   class="form-control form-control-user" placeholder="Enter Username...">
                                            <span asp-validation-for="Login.Username" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <input  asp-for="Login.Password" class="form-control form-control-user"  placeholder="Password">
                                            <span asp-validation-for="Login.Password" class="text-danger"></span>

                                        </div>
                                        
                                      <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>

                                    </form>
                                    <hr>
                                <div class="text-center">
                                        <a class="btn btn-info btn-sm" style="background-color:#36CD95;" href="/Index">Go to home Page</a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Admin_files/vendor/jquery/jquery.min.js"></script>
    <script src="~/Admin_files/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Admin_files/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Admin_files/js/sb-admin-2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="~/Admin_files/js/toast-plugin.js"></script>
    <script src="~/Admin_files/js/toast-plugin-min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("Jquery is running");
            if ('@TempData["success"]' !== '') {
                $.toast({
                    title: "Success Message",
                    message: '@TempData["success"]',
                    type: "success",
                    duration: 5000
                });
            }


            if ('@TempData["error"]' !== '') {
                $.toast({
                    title: "Error Message",
                    message: '@TempData["error"]',
                    type: "error",
                    duration: 5000
                });
            }


            if ('@TempData["warning"]' !== '') {
                $.toast({
                    title: "Warning Message",
                    message: '@TempData["warning"]',
                    type: "warning",
                    duration: 5000
                });
            }


            if ('@TempData["info"]' !== '') {
                $.toast({
                    title: "Info Message",
                    message: '@TempData["info"]',
                    type: "info",
                    duration: 5000
                });
            }
        });
    </script>
</body>

</html>