@page
@model IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>MA_Language_Hub</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" type="image/x-icon"
          href="https://www.hec.gov.pk/english/universities/PublishingImages/University%20of%20Kotli.png">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/root_files/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/root_files/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/root_files/css/owl.carousel.css">
    <link rel="stylesheet" href="~/root_files/css/owl.theme.default.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/root_files/css/templatemo-style.css">
    <style>
        .courses-image img {
            max-width: 400px; 
            height: 300px;
            display: block;
            object-fit: cover; 
            object-position: top;
        }
        </style>

</head>





<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <img class="navbar-brand" style="margin-top:-12px;" src="https://www.hec.gov.pk/english/universities/PublishingImages/University%20of%20Kotli.png" alt="">
                <a href="/Index" class="navbar-brand responsivenesss" >@Model.Settings.Name</a>
            </div>
    

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">

               
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="#top" class="smoothScroll">Home</a></li>
                    <li><a href="#about" class="smoothScroll">About</a></li>
                    <li><a href="#team" class="smoothScroll">Our Teachers</a></li>
                    <li><a href="#courses" class="smoothScroll">Courses</a></li>
                    <li><a href="#testimonial" class="smoothScroll">Reviews</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://wa.me/@Model.Contact.WhatsappNumber" target="_blank"><i class="fa fa-whatsapp"></i>@Model.Contact.WhatsappNumber</a></li>
                </ul>
            </div>

        </div>
    </section>


    <!-- HOME -->
    <section id="home">
    <div class="row">
        <div class="owl-carousel owl-theme home-slider">
           @foreach(var item in Model.Home )
                {
                    <div class="item">
                        <img src="~/images/@item.ImageName" alt="Distance Learning Education">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>@item.Title</h1>
                                    <h3>@item.Description</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                }

        </div>
    </div>
    </section>
    <!-- FEATURE -->
    <section id="feature">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>01</span>
                        <h3>Trending Courses</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore
                            et dolore magna.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>02</span>
                        <h3>Books & Library</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore
                            et dolore magna.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                        <span>03</span>
                        <h3>Certified Teachers</h3>
                        <p>
                            templatemo delivers a wide variety of HTML5 templates for you at absolutely no charge.
                            Please tell your friends.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Start your journey to a better life with online practical courses</h2>

                        <figure>
                           
                            <figcaption>
                                <h3>@Model.Aboutus.Title</h3>
                                <p>
                                    @Model.Aboutus.Description
                                </p>
                            </figcaption>
                        </figure>

                     
                    </div>
                </div>

                <div class="col-md-offset-1 m-5 col-md-4 col-sm-12">
                    <div class="circle-container">
                        <img src="~/images/@Model.Aboutus.ImageName"
                             alt="Image">
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- TEAM -->
    <section id="team">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Teachers <small>Meet Professional Trainers</small></h2>
                    </div>
                </div>

                @foreach(var professionals in Model.ourProfessionals)
                {
                    <div class="col-md-3 col-sm-6 " style="margin-top:50px;">
                        <div class="team-thumb" style="height:305px;">
                            <div class="fixed-image-container">
                                <img src="~/images/@professionals.ImageName"  style="width:261px; height:180px;"  alt="">
                            </div>
                            <div class="team-info">
                                <h3>@professionals.Title</h3>
                                <span>@professionals.Description</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="@professionals.FacebookLink" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                <li><a href="@professionals.InstagramLink" class="fa fa-instagram"></a></li>
                                <li><a href="@professionals.LinkedInLink" class="fa fa-linkedin"></a></li>
                                <li>
                                    <a href="https://wa.me/@professionals.WhatsAppLink" target="_blank" class="fa fa-whatsapp"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                }

             

            </div>
        </div>
    </section>


    <!-- Courses -->
    <section id="courses">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-courses">
                      @foreach(var courses in Model.Courses)
                        {
                            <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="courses-thumb">
                                        <div class="courses-top">
                                            <div class="courses-image">
                                                <img src="~/images/@courses.ImageName" class="img-responsive"
                                                     alt="">
                                            </div>
                                            <div class="courses-date">
                                                <span><i class="fa fa-calendar"></i>@courses.StartingDate</span>
                                                <span><i class="fa fa-clock-o"></i>@courses.Duration</span>
                                            </div>
                                        </div>

                                        <div class="courses-detail">
                                            <h3>@courses.Title</h3>
                                            <p>@courses.Description</p>
                                        </div>

                                        <div class="courses-info">
                                            @foreach(var professional in Model.ourProfessionals)
                                            {
                                                if(courses.AllocatedTeacher == professional.Id)
                                                {
                                                    <div class="courses-author">
                                                        <img src="~/images/@professional.ImageName" class="custom-img-responsive" alt="">
                                                        <span>@professional.Title</span>
                                                    </div>
                                                }
                                            }
                                            <div class="courses-price">
                                                <span>@courses.Status</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- TESTIMONIAL -->
    <section id="testimonial">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Student Reviews <small>from around the world</small></h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-client">
                      @foreach(var reviews in Model.StudentReviews)
                        {
                            <div class="col-md-4 col-sm-4">
                                <div class="item">
                                   
                                    <div class="tst-author">
                                        <h4>@reviews.Name</h4>
                                        <span>@reviews.Designation</span>
                                    </div>
                                    <small style="display:flex; flex-direction:row;">Review</small>
                                    <p>
                                        @reviews.Review
                                    </p>
                                  
                                </div>
                            </div>
                        }


                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- CONTACT -->
    <section id="contact">
        <div class="container" style="margin-top:-120px;">
            <div class="row">
                <div class="col-md-6 col-sm-12" style="margin-top:80px;">
                    <div class="section-title">
                        <h2 style="color: white;">Contact us <hr /><small style="margin-top:30px; margin-bottom:-25px; color: white;">We love conversations. Let us talk!</small></h2>
                    </div>
                    <div class="contact-info rounded" style="padding: 20px; margin-left: 0; padding-left: 0;">
                        <h3 class="mb-5" style="color: white;"></h3>

                        <!-- Address Section -->
                        <div class="contact-item" style="display: flex; flex-wrap: wrap; align-items: flex-start; margin-bottom: 10px; padding-left: 0;">
                            <strong style="width: 120px; display: inline-block; color: white; font-size: 16px;">Address: </strong>
                            <span style="color: white; font-size: 18px; flex: 1; word-wrap: break-word;">
                                @Model.Contact.Address1
                            </span>
                        </div>

                        <!-- Email Section -->
                        <div class="contact-item" style="display: flex; flex-wrap: wrap; align-items: flex-start; margin-bottom: 10px; padding-left: 0;">
                            <strong style="width: 120px; display: inline-block; color: white; font-size: 16px;">Email:</strong>
                            <span style="color: white; font-size: 18px; flex: 1; word-wrap: break-word;">
                               <a href="mailto:@Model.Contact.EmailAddress1">@Model.Contact.EmailAddress1</a>
                            </span>
                        </div>



                        <!-- Phone Section -->
                        <div class="contact-item" style="display: flex; flex-wrap: wrap; align-items: flex-start; margin-bottom: 10px; padding-left: 0;">
                            <strong style="width: 120px; display: inline-block; color: white; font-size: 16px;">Phone:</strong>
                            <a href="tel:+1234567890" class="text-decoration-none text-dark" style="color: white; text-decoration: none; font-size: 18px; flex: 1; word-wrap: break-word;">
                                @Model.Contact.PhoneNumber
                            </a>
                        </div>

                        <!-- Hours Section -->
                        <div class="contact-item" style="display: flex; flex-wrap: wrap; align-items: flex-start; margin-bottom: 10px; padding-left: 0;">
                            <strong style="width: 120px; display: inline-block; color: white; font-size: 16px;">Hours:</strong>
                            <span style="color: white; font-size: 18px; flex: 1; word-wrap: break-word;">Mon - Fri: 9:00 AM - 5:00 PM</span>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-sm-12" style="margin-top: 80px;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2630.063482583867!2d73.898970274522!3d33.48423884751092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14e3c3cb1fc05bed%3A0x92d313a2a8bb2347!2sUniversity%20of%20Kotli%2C%20Azad%20Jammu%20%26%20Kashmir!5e1!3m2!1sen!2s!4v1732106234557!5m2!1sen!2s"
                                class="embed-responsive-item" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Headquarter</h2>
                        </div>
                        <address>
                            <p>@Model.Contact.Address1</p>
                        </address>
                        @if(Model.Contact.Address2 != null)
                        {
                            <div class="section-title">
                            <h2>Second Address</h2>
                        </div>
                        <address>
                            <p>@Model.Contact.Address2</p>
                        </address>
                        }

                        <ul class="social-icon">
                            <li><a href="@Model.Contact.Facebook" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li>
                                <a href="@Model.Contact.TikTok">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="tiktok-icon tiktok-lg" style="   height: 2.5rem;width: 3rem;margin-bottom: -5px;color: #29CA8E;">
                                        <path d="M23.5 4.5a6.7 6.7 0 01-2.4-.5A6.7 6.7 0 0018.5 2a.7.7 0 00-.7.7v8a4.8 4.8 0 01-2.7 4.3 4.8 4.8 0 01-2.3.7A4.7 4.7 0 017 11.2c.2-.8.7-1.6 1.5-2.1.6-.5 1.5-.8 2.5-.8h.5a.7.7 0 00.8-.7V5.3a6.8 6.8 0 00-1.3-.1C6.7 5.2 3 8.8 3 13.2a6.7 6.7 0 006.7 6.8 6.9 6.9 0 006.6-6.6V6.6a9.5 9.5 0 004.2 1c.4.1.8-.3.8-.7V5.2c0-.3-.3-.6-.6-.7z"></path>
                                    </svg>
                                </a>
                            </li>
                            <li><a href="@Model.Contact.Instagram" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text">
                            <p>Copyright &copy; 2024 MA Language Hub</p>
                            <p>
                                Design: <a rel="nofollow" href="https://github.com/insramofficial" title="html5 templates"
                                           target="_blank">Insram ul Haq</a>
                                        <a rel="nofollow" href="https://github.com/MuhammadNaseer039" title="html5 templates"
                                   target="_blank">Muhammad Naseer</a>
                            </p>
                            <p>Distribution: Muhammad Naseer & Insram ul Haq</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Contact Info</h2>
                        </div>
                        <address>
                            <p>@Model.Contact.WhatsappNumber, @Model.Contact.PhoneNumber</p>
                            <p><a href="mailto:@Model.Contact.EmailAddress1">@Model.Contact.EmailAddress1</a></p>
                            <p><a href="mailto:@Model.Contact.EmailAddress2">@Model.Contact.EmailAddress2</a></p>
                        </address>

                        <div class="footer_menu">
                            <h2>Quick Links</h2>
                            <ul>
                                <li><a href="#courses">Language Courses</a></li>
                                <li><a href="#about">Why Learn With Us</a></li>
                                <li><a href="#testimonial">Testimonials</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="/Admin/Index">Admin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-4 col-sm-12">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Why Choose MalanguageHub?</h2>
                        </div>
                        <p>
                            At MA Language Hub, we offer immersive and engaging language courses designed for all
                            proficiency levels. Whether you're looking to improve your speaking, writing, or
                            listening skills, our expert instructors are here to guide you every step of the way.
                        </p>


                    </div>
                </div>

            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="~/root_files/js/jquery.js"></script>
    <script src="~/root_files/js/bootstrap.min.js"></script>
    <script src="~/root_files/js/owl.carousel.min.js"></script>
    <script src="~/root_files/js/smoothscroll.js"></script>
    <script src="~/root_files/js/custom.js"></script>

</body>

</html>